#container{
    width: 400px;
    background-color: rgb(245, 198, 245);
    padding: 20px;
}
input{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list {
    margin: 15px;
}
.list li{
    background-color: rgb(187, 197, 224) ;
    padding: 5px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
}
.btn{
display: flex;
justify-content: flex-end;
padding: 5px 0px;

}

.btn > button {
    color: green;
    padding: 5px;
    width: 60px;
    height: 30px;
}